<!DOCTYPE html>
<html>
  <head>
    <%- include partials/title.ejs%>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
  </head>
  <body>
    <%- include partials/header.ejs%>
    <%- include partials/menu.ejs%>
    <content>
      <form id="form" action="/student/addsubject/<%= dataStudent.id%>" method="post">
        <label>First Name</label>
        <input type="text" name="firstName" value="<%= dataStudent.firstName%>" readonly><br>
        <label>Last Name</label>
        <input type="text" name="lastName" value="<%= dataStudent.lastName%>" readonly><br>
        <label>Email</label>
        <input type="email" name="email" value="<%= dataStudent.email%>" readonly><br>
        <label>Subject</label>
        <select name="idSubject">
          <% dataSubject.forEach((rowSubject) => {%>
          <option value="<%= rowSubject.id%>"><%= rowSubject.subjectName%></option>
          <%})%>
        </select><br>
        <input type="submit" value="Submit" onclick="return confirm('Are You Sure?')">
      </form>
    </content>
    <%- include partials/footer.ejs%>
  </body>
</html>
