<!DOCTYPE html>
<html>
  <head>
    <%- include partials/title.ejs%>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
  </head>
  <body>
    <%- include partials/header.ejs%>
    <%- include partials/menu.ejs%>
    <content>
      <form id="form" action="/teacher/edit/<%= dataTeacher.id%>" method="post">
        <label>First Name</label>
        <input type="text" name="firstName" value="<%= dataTeacher.firstName%>" required><br>
        <label>Last Name</label>
        <input type="text" name="lastName" value="<%= dataTeacher.lastName%>" required><br>
        <label>Email</label>
        <input type="email" name="email" value="<%= dataTeacher.email%>" required><br>
        <label>Subject</label>
        <select name="idSubject">
          <% dataSubject.forEach((rowSubject) => {%>
            <option value="<%= rowSubject.id %>" <%= (rowSubject.id === dataTeacher.idSubject) ? "selected" : "" %> ><%= rowSubject.subjectName%></option>
          <%})%>
        </select><br>
        <input type="submit" value="Submit">
      </form>
  </content>
  <%- include partials/footer.ejs%>
  </body>
</html>
