<!DOCTYPE html>
<html>
  <head>
    <%- include partials/title.ejs%>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
  </head>
  <body>
    <%- include partials/header.ejs%>
    <content>
      <h2 align="center"><%= dataStudentSubject[0].Subject.subjectName%></h2><br>
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Student Name</th>
            <th>Score</th>
            <th>Desc</th>
          </tr>
        </thead>
        <tbody>
          <% dataStudentSubject.forEach((rowStudentSubject, index) => { %>
          <tr>
            <td><%= index+1%>.</td>
            <td><%= rowStudentSubject.Student.getFullName()%></td>
            <% if (rowStudentSubject.score) {%>
            <td><%= rowStudentSubject.score%></td>
            <% } else { %>
            <td>
              <a href="/subject/givescore/<%= rowStudentSubject.id%>">
                <button class="button">Give Score</button>
              </a>
            </td>
            <% } %>
            <td><%= rowStudentSubject.grade%></td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </content>
    <%- include partials/footer.ejs%>
  </body>
</html>
