<!DOCTYPE html>
<html>
  <head>
    <%- include partials/title.ejs%>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
  </head>
  <body>
    <%- include partials/header.ejs%>
    <content>
      <form id="form" action="/subject/givescore/<%= dataStudentSubject.id%>" method="post">
        <input type="text" name="id" value="<%= dataStudentSubject.Subject.id%>" style="display:none;">
        <label>Student Name</label>
        <input type="text" value="<%= dataStudentSubject.Student.getFullName()%>" readonly><br>
        <label>Subject Name</label>
        <input type="text" value="<%= dataStudentSubject.Subject.subjectName%>" readonly><br>
        <label>Score</label>
        <input type="number" name="score" min=0 max=100 placeholder="input 0 - 100" pattern="[0-9]" required><br>
        <input type="submit" value="Submit" onclick="return confirm('Are you sure?')">
      </form>
    </content>
    <%- include partials/footer.ejs%>
  </body>
</html>
