<!DOCTYPE html>
<html>
  <head>
    <%- include partials/title.ejs%>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
  </head>
  <body>
    <%- include partials/header.ejs%>
    <content>
      <p class="error">
        <% if (error) {%>
          <%= error %>
        <%}%>
      </p><br>
      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% dataStudent.forEach((row, index) => {%>
            <tr>
              <td><%= index+1%>.</td>
              <td><%= row.id%></td>
              <td><%= row.getFullName()%></td>
              <td><%= row.email%></td>
              <td style="text-align:left;">
                <% if (row.Subjects.length === 0) { %>
                  unassigned
                <%} else {%>
                <% row.Subjects.forEach((name, index) => { %>
                  <%= index+1%>. <%= name.subjectName%><br/>
                <% })} %>
              </td>
              <td>
                <a href="/student/addsubject/<%= row.id%>">
                  <button class="button edit">Assign Subject</button></a> |
                <a href="/student/edit/<%= row.id%>">
                  <button class="button edit">Edit</button></a> |
                <a href="/student/delete/<%= row.id%>" onclick="return confirm('Are You Sure?')">
                  <button class="button delete">Delete</button></a>
              </td>
            </tr>
          <%})%>
        </tbody>
      </table>
    </content>
    <%- include partials/footer.ejs%>
  </body>
</html>
