<!DOCTYPE html>
<html>
  <head>
    <%- include partials/title.ejs%>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
  </head>
  <body>
    <%- include partials/header.ejs%>
    <content>
      <p class="error">
        <% if (error) {%>
          <%= error %>
        <%}%>
      </p><br>
      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>ID</th>
            <th>Subject Name</th>
            <th>Techers Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <% dataSubject.forEach((row, index) => {%>
            <tr>
              <td><%= index+1%>.</td>
              <td><%= row.id%></td>
              <td><%= row.subjectName%></td>
              <td style="text-align:left;">
                <% row.Teachers.forEach((name, index) => { %>
                  <%= index+1%>. <%= name.getFullName()%><br/>
                <% }) %>
              </td>
              <td>
                <a href="/subject/enrolledstudents/<%= row.id%>">
                  <button class="button edit">Enrolled Students</button></a> |
                <a href="/subject/edit/<%= row.id%>">
                  <button class="button edit">Edit</button></a> |
                <a href="/subject/delete/<%= row.id%>" onclick="return confirm('Are You Sure?')">
                  <button class="button delete">Delete</button></a>
              </td>
            </tr>
            <%})%>
        </tbody>
      </table>
    </content>
    <%- include partials/footer.ejs%>
  </body>
</html>
