<!DOCTYPE html>
<html>
  <head>
    <%- include partials/title.ejs%>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
  </head>
  <body>
    <%- include partials/header.ejs%>
    <%- include partials/menu.ejs%>
    <content>
      <p class="error">
        <% if (error) {%>
          <%= error %>
        <%}%>
      </p><br>
      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% dataTeacher.forEach((row, index) => {%>
            <tr>
              <td><%= index+1%>.</td>
              <td><%= row.id%></td>
              <td><%= row.getFullName()%></td>
              <td><%= row.email%></td>
              <td><%= row.Subject.subjectName%></td>
              <td>
                <a href="/teacher/edit/<%= row.id%>">
                  <button class="button edit">Edit</button></a> |
                <a href="/teacher/delete/<%= row.id%>" onclick="return confirm('Are You Sure?')">
                  <button class="button delete">Delete</button></a>
              </td>
            </tr>
          <%})%>
        </tbody>
      </table>
    </content>
    <%- include partials/footer.ejs%>
  </body>
</html>
