<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher</title>
  </head>
  <body>
    <a href="/">BACK</a>
    <table align="center" border="1">
      <thead>
        <tr>
          <td>No</td>
          <td>ID</td>
          <td>Full Name</td>
          <td>Email</td>
          <td>Subject</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% dataTeacher.forEach((row, index) => {%>
          <tr>
            <td><%= index+1%>.</td>
            <td><%= row.id%></td>
            <td><%= row.getFullName()%></td>
            <td><%= row.email%></td>
            <td><%= row.Subject.subjectName%></td>
            <td><a href="/teacher/edit/<%= row.id%>">Edit</a> | <a href="/teacher/delete/<%= row.id%>" onclick="return confirm('Are You Sure?')">Delete</a></td>
          </tr>
        <%})%>
      </tbody>
    </table><hr />
    <% if (error) {%>
      <%= error %>
    <%}%>
    <form action="/teacher/insert" method="post">
      <label>First Name</label><br>
      <input type="text" name="firstName" required><br>
      <label>Last Name</label><br>
      <input type="text" name="lastName" required><br>
      <label>Email</label><br>
      <input type="email" name="email" required><br>
      <select name="idSubject">
        <% dataSubject.forEach((rowSubject) => { %>
          <option value="<%=rowSubject.id%>"><%= rowSubject.subjectName%></option>
        <%})%>
      </select><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
